* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: sans-serif;
  color: #a0a0a0;
  outline: 0;
}

body {
  background-color: black;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

p {
  color: #727272;
  line-height: 1cm;
}

li {
  list-style-type: none;

}

.cover {
  background-image: url("../Images/background-3.jpg");
}

.avatar {
  position: relative;
  text-align: center;
  top: 180px;
}

.avatar img {
  width: 350px;
  height: 350px;
  object-fit: contain;
  border: 5px solid gray;
}

.main {
  position: relative;
  top: 200px;
}

.main h1 {
  text-align: center;
  font-size: 80px;
}

.story {
  position: relative;
  top: 50px;
}

.story h2 {
  text-align: center;
}

.story h2:before, .story h2:after{
  	position: absolute;
    top: 30px;
    width: 45%;
    height: 2px;
    content: '\a0';
    background-color: rgba(229, 190, 190, 0.75);
}

.story h2:before {
  	margin-left: -45%;

}

.img-story {

  height: 430px;
  float: left;



}

.contribution  {
  position: relative;
  top: 150px;
  clear: both;

}

.contribution h2 {
  text-align: center;
}

.contribution h2:before, .contribution h2:after{
  	position: absolute;
    top: 30px;
    width: 41%;
    height: 2px;
    content: '\a0';
    background-color: rgba(229, 190, 190, 0.75);
}

.contribution h2:before {
  	margin-left: -41%;
}

.albums {
  position: relative;
  top: 180px;
  text-align: center;
}
.albums h2:before, .albums h2:after{
  	position: absolute;
    top: 30px;
    width: 44%;
    height: 2px;
    content: '\a0';
    background-color: rgba(229, 190, 190, 0.75);
}


.albums h2:before {
  	margin-left: -44%;
}

.albums-holder {
  position: relative;
  top: 40px;
  display: grid;
  grid-template: 226px / repeat(3, 226px);
  grid-column-gap: 300px;
  margin-left: 80px;
}

li h3 {
  position: relative ;
  top: 9px;
  text-align: center;
  font-size: 25px;
}


.albums-holder li img{
  border: 6px groove gray;

}
